<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Top navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<main role="main" class="container">
    <div class="jumbotron">
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Créer</button>
        </form>

        <ul>
            {% for nombre in mes_nombres %}
                <li>Nombre #{{ nombre.id }} --> nombre1 : {{ nombre.nombre1 }} € - nombre2 : {{ nombre.nombre2 }} €
                </li>
            {% endfor %}
        </ul>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/autonumeric"></script>

<script>
    function initialisationDesChampsAutoNumeric() {
        $('.decimal2').each(function () {
            let readOnly = false;
            if ($(this).is('[readonly]')) {
                readOnly = true;
            }
            new AutoNumeric('#' + $(this).attr('id'), {
                aSep: ' ',
                aDec: '.',
                vMin: '0.00',
                currencySymbol : ' €',
                readOnly: readOnly,
            }).french();
        });
    }

    $('#id_nombre1').on('change', function () {
        AutoNumeric.getAutoNumericElement($('#id_nombre2').get(0)).set(AutoNumeric.getNumber('#' + $(this).attr('id')) * 2)
    });

    $('form').on('submit', function (e) {
        $(this).find('.decimal2').each(function () {
            $(this).val(AutoNumeric.getNumber('#' + $(this).attr('id')));
        });
    });

    $(document).ready(function () {
        initialisationDesChampsAutoNumeric();
    });

</script>
</body>
</html>